{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="register py-5" id="register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 p-5 border border-2 bg-gradient">
                    <h1 class="text-center">{{ 'register'|trans|raw }}</h1>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    <div class="d-flex">
                        {{ form_row(registrationForm.agreeTerms) }}
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#termsModal">
                            <span class="small">{{ 'agree.terms'|trans|raw }}</span>
                        </button>

                        <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="termsModalLabel">Accept terms</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ 'terms_list'|trans({},'terms_list')|raw }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">{{ 'close'|trans|raw }}
                                        </button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                                id="accept-terms">{{ 'accept'|trans|raw }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input name="time-zone" id="time-zone" type="hidden">
                    <button type="submit" class="btn btn-danger float-end">{{ 'register'|trans|raw }}</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/acceptTermsListener.js') }}"></script>
{% endblock %}