{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="register py-5" id="register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 py-3 border border-2 bg-gradient">
                    <h1 class="text-center">Register</h1>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-danger float-end">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#registration_form_agreeTerms').on('click', function () {
            const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            $.ajax({
                type: 'POST',
                url: '{{ path('app_time_zone') }}',
                data: {timeZone: userTimeZone},
            });
        });
    </script>
{% endblock %}