{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="login py-5" id="login">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    {% if error %}
                        <div class="alert alert-danger"
                             role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a
                                    href="{{ path('app_logout') }}">{{ 'log.out'|trans|raw }}</a>
                        </div>
                    {% endif %}
                    <form method="post">
                        <div class="row justify-content-center border border-2 py-5">
                            <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'please.sign.in'|trans|raw }}</h1>
                            <div class="w-75">
                                <div class="d-flex flex-row align-items-center justify-content-between py-2">

                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                           placeholder="{{ 'email'|trans|raw }}"
                                           class="form-control w-75 mx-1"
                                           autocomplete="email" required>
                                    <button class="btn btn-primary" type="submit">
                                        {{ 'sign.in'|trans|raw }}
                                    </button>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between py-2">

                                    <input type="password" name="password" id="inputPassword"
                                           class="form-control w-75 mx-1"
                                           placeholder="{{ 'password'|trans|raw }}"
                                           autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <a class="btn btn-danger"
                                       href="{{ path('app_register') }}">{{ 'register'|trans|raw }}</a>
                                </div>
                                <div class="d-flex flex-column justify-content-center mt-2">
                                    <a class="btn btn-outline-dark" href="{{ path('connect_google') }}" role="button"
                                       style="text-transform:none">
                                        <i class="bi bi-google"></i>
                                        {{ 'login.with'|trans|raw }} Google
                                    </a>
                                    <a class="btn btn-outline-primary mt-2"
                                       href="{{ path('connect_facebook_start') }}">
                                        <i class="bi bi-facebook"></i>
                                        {{ 'login.with'|trans|raw }} Facebook
                                    </a>
                                </div>
                                <div class="float-end mt-5">
                                    <a href="{{ path('app_forgot_password_request') }}">{{ 'reset.password'|trans|raw }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
