{% extends 'base.html.twig' %}

{% block title %}ToDoList{% endblock %}

{% block body %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card" id="list1" style="border-radius: .75rem; background-color: mediumseagreen;">
                        <div class="card-body py-4 px-4 px-md-5">

                            <p class="h1 text-center mt-3 mb-4 pb-3 fw-bold">
                                <i class="fas fa-check-square me-1"></i>
                                <span class="text-white">{{ 'my.todo'|trans|raw }}</span>
                            </p>
                            <form action="{{ path('create_task') }}" method="post">
                                <div class="pb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row align-items-center justify-content-between">
                                                <div class="col-md-6 my-sm-2">
                                                    <input name="title" type="text" class="form-control form-control-lg"
                                                           id="exampleFormControlInput1"
                                                           placeholder="{{ 'add'|trans|raw }}...">
                                                </div>
                                                <div class="col-md-4 my-sm-2">
                                                    <input type="datetime-local" class="form-control form-control-lg"
                                                           name="deadline">
                                                </div>
                                                <div class="col-md-2 my-sm-2">
                                                    <button type="submit"
                                                            class="btn btn-lg btn-outline-primary px-lg-4 px-md-3">{{ 'add'|trans|raw }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <hr class="my-4">
                            <div class="d-flex flex-row justify-content-end align-items-center pb-3">
                                <div class="dropdown">
                                    <button class="btn btn-secondary small dropdown-toggle mx-1" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ 'filter'|trans|raw }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('app_task',{'filter':'All'}) }}">{{ 'all'|trans|raw }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_task',{'filter':'Completed'}) }}">{{ 'completed'|trans|raw }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_task',{'filter':'Active'}) }}">{{ 'active'|trans|raw }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_task',{'filter':'Has-due-date'}) }}">{{ 'has.due.date'|trans|raw }}</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary small dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ 'sort.by'|trans|raw }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                               href="{{ path('app_task',{'sortBy':'createdAt'}) }}">{{ 'added.date'|trans|raw }}</a></li>
                                        <li><a class="dropdown-item"
                                               href="{{ path('app_task',{'sortBy':'deadLine'}) }}">{{ 'due.date'|trans|raw }}</a></li>
                                    </ul>
                                </div>
                            </div>


                            {% for task in tasks %}
                                <ul class="list-group list-group-horizontal rounded-sm border my-2 shadow-sm bg-white d-block d-md-flex align-items-center justify-content-between">
                                    <a class="text-decoration-none text-dark d-flex"
                                       href="{{ path('switch_status',{'id':task.id}) }}">
                                        <li
                                                class="list-group-item d-flex align-items-center rounded-0 border-0">
                                            <div class="form-check">
                                                <input class="form-check-input me-0 border-secondary" type="checkbox"
                                                       name="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       aria-label="..."
                                                        {% if task.status %}
                                                            checked
                                                        {% endif %}
                                                />
                                            </div>
                                        </li>
                                        <li
                                                class="list-group-item d-flex align-items-center flex-grow-1 border-0">
                                            <p class="{% if task.status %} text-decoration-line-through text-secondary {% endif %} fw-bold lead fw-normal mb-0">{{ task.title }}</p>

                                        </li>
                                    </a>
                                    <li class="list-group-item d-flex align-items-center border-0">
                                        {% if task.deadLine %}
                                            <div
                                                    class="py-2 px-3 border border-warning rounded-3 d-flex align-items-center">
                                                <p class="dueDate small mb-0">
                                                    Due date:
                                                    {{ task.deadLine|format_datetime }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item px-3 py-1 rounded-0 border-0 .bg-light.bg-gradient">
                                        <div class="text-end text-muted mx-2 mt-3">
                                            <p class="addedDate small mb-0">Added: {{ task.createdAt|format_datetime() }}
                                            </p>
                                        </div>
                                    </li>
                                    <a onclick="return confirm('Are you sure to delete?')"
                                       href="{{ path('delete_task',{'id': task.id}) }}">
                                        <li class="list-group-item mx-2 my-2 rounded border-1 .bg-light.bg-gradient">
                                            <i class="bi bi-trash text-danger"></i>
                                        </li>
                                    </a>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
