{% extends 'base.html.twig' %}

{% block title %}Weeks{% endblock %}

{% block body %}
    <section id="week-calendar" class="week-calendar calendar">
        <div class="container">
            <div class="table-responsive-md">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">{{ 'time'|trans|raw }}\{{ 'day'|trans|raw }}
                        </th>
                        {% for day in daysOfWeek %}
                            <th class="text-uppercase">
                                <div>{{ day|date('l')|trans|raw }}</div>
                                <div style="font-size: 10px" class="text-muted">{{ day|date('Y-m-d') }}</div>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for j in range(0,23) %}
                        <tr>
                            <th class="align-middle">{{ j|intToTime }}</th>
                            {% for day in daysOfWeek %}
                                <td class="{% if day|date('Y-m-d') == currentDate|date('Y-m-d') %}bg-light-green{% endif %}">
                                    {% for task in weekTasks %}
                                        {% if task.deadLine|format_datetime('none', 'short', locale='pl')|hourFilter == j
                                            and task.deadLine|date('Y-m-d') == day|date('Y-m-d') %}
                                            <span class="{{ random(['bg-primary','bg-secondary','bg-danger']) }} rounded px-2 py-1">
                                                <a class="text-white fw-bold text-decoration-none"
                                                   href="{{ path('app_task') }}">{{ task.title }}</a></span>
                                        {% endif %}
                                    {% endfor %}
                                    {#                                    <div class="margin-10px-top font-size14">{{ j|intToTime }}</div> #}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="week-info d-flex justify-content-center fixed-bottom flex-column flex-sm-row">
                <a class="btn btn-outline-primary m-1 m-md-3" href="{{ path('previous_week',{'week':week,'year':year}) }}">{{ 'previous'|trans|raw }}</a>
                <p class="btn btn-outline-primary m-1 m-md-3">{{ 'current.week'|trans|raw }}: {{ week }}</p>
                <a class="btn btn-outline-primary m-1 m-md-3" href="{{ path('next_week',{'week':week,'year':year}) }}">{{ 'next'|trans|raw }}</a>
            </div>
        </div>
    </section>
{% endblock %}