{% extends 'base.html.twig' %}

{% block title %}Weeks{% endblock %}

{% block body %}
    <section id="week-calendar" class="week-calendar calendar py-4">
        <div class="container">
            <div class="table-responsive-md">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Time\Day
                        </th>
                        {% for day in weekDays %}
                            <th class="text-uppercase">{{ day }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for j in range(0,23) %}
                        <tr>
                            <th class="align-middle">{{ j|intToTime }}</th>
                            {% set daysOfWeek = [] %}
                            {% for i in 0..6 %}
                                {% set day = firstDayOfWeek|date_modify('+'~i~' days') %}
                                {% set daysOfWeek = daysOfWeek|merge([day]) %}
                            {% endfor %}
                            {% for day in daysOfWeek %}
                                <td>
                                    {% for task in weekTasks %}
                                        {% if task.deadLine|format_datetime('none', 'short', locale='pl')|hourFilter == j
                                            and task.deadLine|date('Y-m-d') == day|date('Y-m-d') %}
                                            <span class="{{ random(['bg-primary','bg-secondary','bg-danger']) }} rounded px-2 py-1">
                                                <a class="text-white fw-bold text-decoration-none" href="{{ path('app_task') }}">{{ task.title }}</a></span>
                                        {% endif %}
                                    {% endfor %}
                                    {#                                    <div class="margin-10px-top font-size14">{{ j|intToTime }}</div> #}
                                    {#                                    <div class="font-size13 text-light-gray">{{ day|date('Y-m-d') }}</div> #}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="week-info d-flex justify-content-center fixed-bottom">
                <a class="btn btn-outline-primary m-3" href="{{ path('previous_week',{'week':week}) }}">Previous</a>
                <p class="btn btn-outline-primary m-3">Current week: {{ week }}</p>
                <a class="btn btn-outline-primary m-3" href="{{ path('next_week',{'week':week}) }}">Next</a>
            </div>
        </div>
    </section>
{% endblock %}