{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <section class="check-email py-5" id="check-email">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 py-3 bg-gradient">
                    <p>
                        {{ 'expire_link'|trans({},'reset-password')|raw}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>{{ 'receive_email'|trans({},'reset-password')|raw}} <a href="{{ path('app_forgot_password_request') }}">{{ 'try.again'|trans|raw }}</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
